﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="com.es.si1213.trabalho2.sgpf.ui.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    Organização XYZ | SGPF - Sistema de Gestão para Projectos de Financiamento
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Entrar</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Bem-vindo <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Sair" LogoutPageUrl="~/"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Página Inicial"/>
                        <%--<<TODO: esconder/mostar items de acordo com o role do user!--%>
                        <asp:MenuItem NavigateUrl="~/xPagesTecnico/DefaultTecnico.aspx" Text="Página Técnico"/>
                        <asp:MenuItem NavigateUrl="~/xPagesGestor/DefaultGestor.aspx" Text="Página Gestor de financiamento"/>
                        <asp:MenuItem NavigateUrl="~/xPagesComissao/DefaultComissao.aspx" Text="Página Comissão financeira"/>
                        <%--TODO: esconder/mostar items de acordo com o role do user>>!--%>
                        <asp:MenuItem NavigateUrl="~/About.aspx" Text="Sobre"/>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
