
.CodeComments
{
	display: inline;
	color: green;
	font-style: italic;
}
.JavaCode
{
	font-size: x-small;
	font-family: 'Courier New';
	background-color: mistyrose;
}
.CSharpCode
{
	font-size: x-small;
	font-family: 'Courier New';
	background-color: lemonchiffon;
}
CODE
{
	color: blue;
	font-family: 'Courier New';
}
SAMP
{
	color: green;
	font-family: 'Courier New';
}
